/*
    MENU NAVEGAÇÃO
*/
.mensagem {
    width: 60%;
}
.navbar img {
    width: 10%;
}

/*
    SLIDES
*/
.slides{
    width: 100%;
}

/*
    RODAPÉ
*/
footer {
    text-align: center;
    padding-top: 10px; 
}



@media screen and (min-width: 729px) {
    .mensagem {
        width: 90%;
    }
    .navbar img {
        width: 2%;
    }

    .contato {
        max-width: 80%; padding: .5em;
    }
}
